@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .epfl-a {
    @apply text-[#212121] underline decoration-[#ff0000] hover:text-[#ff0000] hover:decoration-[#212121];
  }
  ul {
    list-style-type: square;
    list-style-position: inside;
  }
  li::marker {
    color: #ff0000;
  }
  .epfl-h1 {
    @apply text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl;
  }
  .epfl-h2 {
    @apply text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl;
  }
  .epfl-tag-plain {
    @apply truncate bg-[#707070] px-2 py-1 text-center text-[#ffffff] hover:cursor-pointer;
  }
  .epfl-tag-light {
    @apply truncate border-1 border-[#707070] px-2 py-1 text-center hover:cursor-pointer hover:border-[#212121] hover:bg-[#e6e6e6];
  }
  .epfl-tag-light-not-clickable {
    @apply truncate border-1 border-[#707070] px-2 py-1 text-center;
  }
  .epfl-tag-light-removable {
    @apply flex content-between items-center border-1 border-[#707070] px-2 py-1 text-center text-sm hover:cursor-pointer;
  }
  .epfl-times {
    @apply bg-[#e6e6e6] px-1 leading-5 hover:bg-[#ff0000] hover:text-[#ffffff];
  }
}
